<ul>  
      <li>  
        <%= link_to user_path(@user) do %>
          <div class="text">投稿数</div>  
          <div class="num"><%= @user.wines.count %></div>  
        <% end %>  
      </li>  
  </ul>


<% @user.wines.each do |wine| %>
      <h4 class="user">
          <span class="user-name">
            <%= link_to wine.user.name, user_path(wine.user) %>
          </span>
      
      </h4>
      <div class="post-body">
          <%= wine.description %>
      </div>
<% end %>